:root {
    --gap: 20px;
    --container: 1160px;
}

.gallery__wrapper {
    padding: 100px 0 80px;
    gap: 55px;
}

.gallery__title {
    margin-bottom: 60px;
    text-transform: none;
}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.gallery__inner img {
    width: 100%;
    min-height: 100%;
}

.gallery__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery__item-grid {
    display: grid;
    grid-template-columns: 1.1fr 1.05fr 1fr;
    --grid-item-height: calc((((var(--container) - var(--gap) * 2) / 3) - 6px) / 3);
    grid-template-rows: repeat(3, calc(var(--grid-item-height) * 0.75));
    gap: 3px;
}

.gallery__item {
    overflow: hidden;
}

.gallery__item-flex {
    display: flex;
    gap: 3px;
    height: calc((((var(--container) - var(--gap) * 2) / 3) / 2) * 0.9);
}

.gallery__item-flex .gallery__item {
    width: 50%;
    overflow: hidden;
}

.gallery__item-flex .gallery__item:hover img,
.gallery__item-grid .gallery__item:hover img {
    transform: scale(1.2);
}

.gallery__item img {
    transition: all 0.3s ease-out;
}

.gallery__multi-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.gallery__inner:hover img:not(:hover) {
    opacity: 0.6;
}

.gallery__inner img:hover {
    transform: scale(1.1);
}

@media (max-width: 1280px) {
    .container {
        --container: 960px;
    }
}